<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Vehículo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</head>
<body>

    <button onclick="window.location.href='/views/principal.html'" class="btn-regresar">Regresar al Menú Principal</button>
    <h1>Agregar Nuevo Vehículo</h1>
    
    <form id="vehiculoForm">
        <input type="text" id="marca" placeholder="Marca" required>
        <input type="text" id="modelo" placeholder="Modelo" required>
        <input type="number" id="anio" placeholder="Año" required min="1880" max="2025">
        <input type="text" id="placa" placeholder="Placa (Formato: A-AAA111)" required 
               pattern="^[A-Z]-[A-Z]{3}[0-9]{3}$">
        <select id="estado" required>
            <option value="">Seleccione el estado</option>
            <option value="Perfecto">Perfecto</option>
            <option value="Daño menor">Daño menor</option>
            <option value="Reparacion urgente">Reparación urgente</option>
            <option value="En reparacion">En reparación</option>
            <option value="Descarte">Descarte</option>
        </select>
        <button type="submit">Agregar Vehículo</button>
    </form>

    <button id="mostrarVehiculos">Mostrar Vehículos</button>
    
    <div id="tablaVehiculos"></div>

    <script src="/js/agregar.js"></script>
</body>
</html>